@layer skeleton {
	html {
		background: oklch(30% 0.005 30);
	}
	
	#app {
		display: grid;
		/* grid-template-rows: auto minmax(auto, 1fr); */
		height: 100%;
		color: oklch(90% 0.005 30);
		font-family: Inter, system-ui, sans-serif;
		font-weight: 500;
		line-height: 1.4;
	}
	
	pre {
		background: hsl(0deg 0% 0% / 10%);
		tab-size: 3ch;
	}
	
	main {
		padding: 20px 0;
	}
}